body {
  background-color: rgb(0, 0, 0);
}

#mode-wrapper {
  color: #ffffff;
  font-family: Verdana, arial, helvetica, sans-serif;
}

a.snake-link,
a.snake-link:link,
a.snake-link:visited {
  color: #fcfc54;
}

a.snake-link:hover {
  color: #ffff54;
}

.snake-pause-screen {
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: black;
  color: white;
}

.snake-panel-component {
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
}

#snake-snakehead-alive {
  background-image: url("src/css/images/green-head-snakeblock.png");
  margin: 0px;
  padding: 0px;
  background-color: rgb(10, 173, 10);
  position: absolute;
  border: 0px solid #000080;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.snake-snakebody-block {
  background-color: #ff0000;
  border: 0px solid #000080;
}

.snake-snakebody-alive {
  background-image: url("src/css/images/green-body-snakeblock.png"),
    url("src/css/images/green-body-snakeblock.png");
}
.snake-snakebody-dead {
  background-image: url("src/css/images/deadblock.png"),
    url("src/css/images/deadblock.png");
}

.snake-food-block {
  background-color: rgb(182, 11, 11);
  border: 0px solid #000080;
  border-radius: 6px;
}

.snake-playing-field {
  background-color: rgb(245, 245, 220);
  border: 0px solid #0000a8;
}

.snake-welcome-dialog {
  background-color: #000000;
  color: #ffffff;
  font-family: Verdana, arial, helvetica, sans-serif;
}

.snake-try-again-dialog,
.snake-win-dialog {
  background-color: #000000;
  color: #ffffff;
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}
