/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
body {
  background-color: #000000;
}

.snake-toolbar {
  color: #ffffff;
}

#mode-wrapper {
  color: #ffffff;
  font-family: Verdana, arial, helvetica, sans-serif;
}

a.snake-link,
a.snake-link:link,
a.snake-link:visited {
  color: #00ffe0;
}

a.snake-link:hover {
  color: #0fff00;
}

.snake-pause-screen {
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: #0fff00;
  color: #000000;
}

.snake-panel-component {
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.snake-snakebody-block {
  background-color: #ff0000;
  border: 0px solid #000080;
}

.snake-snakebody-alive {
  background-image: url("src/css/images/neon-body-snakeblock.png"),
    url("src/cssss/images/neon-body-snakeblock.png");
}
.snake-snakebody-dead {
  background-image: url("src/css/images/neon-dead-snakeblock.png"),
    url("src/cssss/images/neon-dead-snakeblock.png");
}

.snake-food-block {
  background-color: #ff0000;
  border: 0px solid #000080;
}

.snake-playing-field {
  background-color: #00ffd4;
  border: 0px solid #0000a8;
}

.snake-welcome-dialog {
  background-color: #0fff00;
  color: #000000;
  font-family: Verdana, arial, helvetica, sans-serif;
}

.snake-try-again-dialog,
.snake-win-dialog {
  background-color: #0fff00;
  color: #000000;
  font-family: Verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}
