/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: teal;
}

.snake-toolbar {
  font-family: Electrolize;
  color: white;
}

#mode-wrapper {
  font-family: Electrolize;
  color: whitesmoke;
}

a.snake-link,
a.snake-link:link,
a.snake-link:visited {
  color: white;
}

a.snake-link:hover {
  color: white;
}

.snake-pause-screen {
  font-family: Electrolize;
  font-size: 16px;
  background-color: #3e2e44;
  color: whitesmoke;
}

.snake-panel-component {
  font-family: Electrolize;
  font-size: 16px;
  color: #938996;
  background-color: #3e2e44;
}

.snake-snakebody-block {
  background-color: orange;
  border: 0px solid black;
}

.snake-snakebody-alive {
  background-image: url("src/css/images/snakeblock.png");
}
.snake-snakebody-dead {
  background-image: url("src/css/images/dead-dark-snakeblock.png");
}

.snake-food-block {
  background-color: red;
  border: 2px solid black;
}

.snake-playing-field {
  background-color: rgb(0, 180, 180);
  border: 3px solid black;
}

.snake-game-container {
  background-color: #3e2e44;
}

.snake-welcome-dialog {
  background-color: black;
  color: whitesmoke;
  font-family: Electrolize;
}

.snake-try-again-dialog,
.snake-win-dialog {
  background-color: black;
  color: whitesmoke;
  font-family: Electrolize;
  font-size: 16px;
}
